In [1]:
import pandas as pd
import numpy as np

# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

### Load data

In [2]:
df_ag_0 = pd.read_csv('./data/results_ag_mapa_0.csv', index_col=0)
df_ag_1 = pd.read_csv('./data/results_ag_mapa_1.csv', index_col=0)
df_rrt_0 = pd.read_csv('./data/results_rrt_mapa_0.csv', index_col=0)
df_rrt_1 = pd.read_csv('./data/results_rrt_mapa_1.csv', index_col=0)
df_pfp_0 = pd.read_csv('./data/results_pfp_mapa_0.csv', index_col=0)
df_pfp_1 = pd.read_csv('./data/results_pfp_mapa_1.csv', index_col=0)

In [3]:
def concat_map_n(df, n):
    df['origin_destination'] = str(n) + '_' + df['origin'].astype(str) + '_' + df['destination'].astype(str)
    df['origin'] = str(n) + '_' + df['origin'].astype(str)
    df['destination'] = str(n) + '_' + df['destination'].astype(str)

In [7]:
concat_map_n(df_ag_0, 0)
concat_map_n(df_ag_1, 1)
concat_map_n(df_rrt_0, 0)
concat_map_n(df_rrt_1, 1)
concat_map_n(df_pfp_0, 0)
concat_map_n(df_pfp_1, 1)

In [9]:
# Pre-processing

# Concatenate all maps and algorithms into one df
df = pd.concat([df_ag_0, df_ag_1, df_rrt_0, df_rrt_1, df_pfp_0, df_pfp_1], ignore_index=True)

# Drop unused columns
df = df.drop(['first_factible_route_found_time', 'exception'], axis=1)
list(df.columns)

['origin',
 'destination',
 'algorithm',
 'battery',
 'obstacles_qty',
 'distance',
 'time_to_plan',
 'distance_path',
 'ratio',
 'distance_to_objective',
 'factibility',
 'qty_wp',
 'origin_destination']

In [6]:
# Pre-processing

# Concatenate all maps and algorithms into one df
df = pd.concat([df_ag_0, df_ag_1, df_rrt_0, df_rrt_1, df_pfp_0, df_pfp_1], ignore_index=True)

# Drop unused columns
df = df.drop(['first_factible_route_found_time', 'exception'], axis=1)

# Put last column in the first position
cols = list(df.columns)
cols = [cols[-1]] + cols[:-1]
df = df[cols]

df.sample(10)

       origin_destination       origin  destination algorithm  battery  obstacles_qty  distance  time_to_plan  distance_path  ratio  distance_to_objective factibility  qty_wp
928     1_base_3_region_1     1_base_3   1_region_1       pfp      NaN              5  1032.038        52.877       1156.652  1.121                 11.899      verify      52
466  0_region_11_region_5  0_region_11   0_region_5       rrt      NaN              0   479.073         1.598        489.533  1.022                  0.000    feasible      21
576   1_region_4_region_1   1_region_4   1_region_1       rrt      NaN              4   659.013         1.685        720.932  1.094                  0.000    feasible      30
590     1_region_5_base_2   1_region_5     1_base_2       rrt      NaN              4   361.668         2.215        509.256  1.408                  0.000    feasible      22
264   1_region_4_region_1   1_region_4   1_region_1        ag      NaN              4   659.013       121.837        813.325  1.234                  0.000    feasible       8
450  0_region_10_region_4  0_region_10   0_region_4       rrt      NaN              0  3568.184         1.473       4001.201  1.121                  0.000    feasible     162
30    0_region_3_region_1   0_region_3   0_region_1        ag      NaN              0  2474.483       134.735       2933.077  1.185                  0.000    feasible      10
814    0_base_1_region_11     0_base_1  0_region_11       pfp      NaN              0  3158.341        47.119       3272.689  1.036                 17.413      verify     157
890   1_region_4_region_3   1_region_4   1_region_3       pfp      NaN              2   153.287        36.615        184.155  1.201                  9.206    feasible       9
393   0_region_6_region_8   0_region_6   0_region_8       rrt      NaN              0  1867.985         1.517       2018.169  1.080                  0.000    feasible      82

In [17]:
df.shape

(936, 13)

----

### Pre-Processing

In [18]:
# Add battery values

grouped = df.groupby(['origin','destination'])

batteries = [25,50,75,100]

df_aux = pd.DataFrame()

for _, frame in grouped:
    
    frame_aux = frame.copy()
    for battery in batteries:
        frame_aux['battery'] = battery
        frame = pd.concat([frame, frame_aux])
    
    df_aux = pd.concat([df_aux, frame])
    df_aux = df_aux.dropna(subset=['battery'])

In [19]:
df_aux

      origin_destination      origin destination algorithm  battery  obstacles_qty  distance  time_to_plan  distance_path  ratio  distance_to_objective factibility  qty_wp
192      0_base_1_base_2    0_base_1    0_base_2        ag     25.0              1    63.042       135.288         54.549  0.865                  0.000    feasible       6
504      0_base_1_base_2    0_base_1    0_base_2       rrt     25.0              1    63.042         1.386         72.246  1.146                  0.000    feasible       4
816      0_base_1_base_2    0_base_1    0_base_2       pfp     25.0              1    63.042        31.822         59.966  0.951                  4.828    feasible       4
192      0_base_1_base_2    0_base_1    0_base_2        ag     50.0              1    63.042       135.288         54.549  0.865                  0.000    feasible       6
504      0_base_1_base_2    0_base_1    0_base_2       rrt     50.0              1    63.042         1.386         72.246  1.146                  0.000    feasible       4
..                   ...         ...         ...       ...      ...            ...       ...           ...            ...    ...                    ...         ...     ...
596  1_region_6_region_5  1_region_6  1_region_5       rrt     75.0              2   296.670         2.053        598.309  2.017                  0.000    feasible      25
908  1_region_6_region_5  1_region_6  1_region_5       pfp     75.0              2   296.670        32.793        365.394  1.232                  2.554    feasible      15
284  1_region_6_region_5  1_region_6  1_region_5        ag    100.0              2   296.670       121.834        371.868  1.253                  0.000    feasible       8
596  1_region_6_region_5  1_region_6  1_region_5       rrt    100.0              2   296.670         2.053        598.309  2.017                  0.000    feasible      25
908  1_region_6_region_5  1_region_6  1_region_5       pfp    100.0              2   296.670        32.793        365.394  1.232                  2.554    feasible      15

[3744 rows x 13 columns]

In [26]:
# Calculate gain function

grouped = df_aux.groupby(['origin','destination','battery'])

df_results = pd.DataFrame()

for _, frame in grouped:
    frame
    
    # Calculate terms
    terms = pd.DataFrame()
    terms['T1'] = np.multiply(frame['battery'], frame['ratio'])
#     terms['T1'] = frame['battery']
    terms['T2'] = frame['time_to_plan']
    terms['T3'] = frame['ratio']
    terms['T4'] = frame['distance_to_objective']
    terms['T5'] = frame['qty_wp']
    terms_normalized=(terms-terms.min())/(terms.max()-terms.min())
    
    terms_normalized['F'] = terms_normalized.sum(axis=1)
    
    # Select minimum F
    idx = terms_normalized[['F']].idxmin()
    idx = idx['F']
    best = frame.loc[idx]
        
    df_results = df_result.append(best)
    
#     df_results.loc[idx]['F'] = terms_normalized.loc[idx]['F']
    
#     break

In [27]:
df_results.algorithm.value_counts()

rrt    572
pfp    340
ag     337
Name: algorithm, dtype: int64

In [28]:
df_results.algorithm.value_counts(normalize=True)

rrt    0.458
pfp    0.272
ag     0.270
Name: algorithm, dtype: float64

---
# Train KNN

In [29]:
features = df_results[['obstacles_qty', 'distance', 'battery']]
labels = df_results['algorithm']

In [30]:
from sklearn import preprocessing

In [31]:
le = preprocessing.LabelEncoder()

In [32]:
labels_encoded = le.fit_transform(labels)

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
knn = KNeighborsClassifier(n_neighbors=3)

In [35]:
features.sample(5)

     obstacles_qty  distance  battery
635            1.0  2137.484     50.0
220            0.0   860.986    100.0
267            2.0   388.014     75.0
766            0.0  2921.315    100.0
163            0.0   860.986     25.0

In [36]:
labels.sample(5)

418    rrt
531    rrt
178     ag
459    rrt
66      ag
Name: algorithm, dtype: object

In [37]:
knn.fit(features,labels)

KNeighborsClassifier(n_neighbors=3)

In [38]:
knn

KNeighborsClassifier(n_neighbors=3)

In [40]:
knn.predict([[1,500,25]])

array(['ag'], dtype=object)

In [42]:
knn.predict([[4,518,50]])

array(['pfp'], dtype=object)

In [44]:
import pickle 


# Its important to use binary mode 
knnPickle = open('knnpickle_file', 'wb') 

# source, destination 
pickle.dump(knn, knnPickle)                      


# load the model from disk
loaded_model = pickle.load(open('knnpickle_file', 'rb'))
result = loaded_model.predict([[1,550,100]])

In [45]:
result

array(['rrt'], dtype=object)